*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: darkred;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-bord{
background-color: blue;
width: 100vmin;
height: 100vmin;
display: grid;
grid-template-columns: repeat(21,1fr);
grid-template-rows: repeat(21,1fr);
}

/*======= style of snake ========*/
.snake{
background-color: antiquewhite;
border: 0.25vmin solid black;
}

 /*====== style of the food of snake =======*/
 .food{
    background-color: yellowgreen;
    border: 0.25vmin solid black;
 }